<ion-view view-title="Om">
  <ion-content padding="true" class="tabs-content has-header" ng-class="{'has-footer': $root.mediaPlaying}">

    <p>iMax:Focus er et konsept som er bygget opp av sterke aktører innenfor idrett og musikk, idrettspsykologer
      ved
      Olympiatoppen og musikere hos Universal Music Group.
    </p>

    <p>Hvordan kan det ha seg at noen idrettsutøvere overgår
      både egne og andres forventninger når presset er som verst, mens andre er favoritter som aldri lykkes i de
      viktige konkurransene?
    </p>

    <p>
      Årelang forskning viser at noe av svaret på spørsmålet ligger i det å kunne fokusere på arbeidsoppgaver og
      stenge resten ute.
    </p>

    <p>
      iMax:Focus består av ulike mentale trenings- og avspenningsprogram. Disse programmene, i kombinasjon med
      fredfull musikkavspenning, er en utmerket måte å øke din mentale styrke på.
    </p>

    <br>
  </ion-content>
</ion-view>
