<ion-view view-title="Om">
  <ion-content padding="true" class="tabs-content has-header" ng-class="{'has-footer': $root.mediaPlaying}">
    <img id="iMaxLogo" src="img/ionic.png">
    <div class="about-heading">
      <h3>Om Focus</h3>
    </div>
    <div class="about-content">
      <p>Focus er et konsept hjelper deg å slappe av i hverdagen. Hverdagen er et stressende
        konsept som alle må igjennom i livet. Livet går opp og ned, bak og fram.</p>

      <p>Årelang forskning viser at det er viktig å være seg selv
        i situasjoner der man blir presset av andre. Man er sin egen lykkes smed.</p>

      <p>Focus består av ulike program som skal hjelpe deg med å slappe av.</p>
    </div>
    <br>
  </ion-content>
</ion-view>
