<ion-view view-title="About">
  <ion-content padding="true" class="tabs-content has-header">
    <div class="item item-text-wrap">
      <p>iMax:Focus er et konsept som er bygget opp av sterke aktører innenfor idrett og musikk, idrettspsykologer
        ved
        Olympiatoppen og musikere hos Universal Music Group.
      </p>

      <p>Hvordan kan det ha seg at noen idrettsutøvere overgår
        både egne og andres forventninger når presset er som verst, mens andre er favoritter som aldri lykkes i de
        viktige konkurransene?
      </p>

      <p>
        Årelang forskning viser at noe av svaret på spørsmålet ligger i det å kunne fokusere på arbeidsoppgaver og
        stenge resten ute.
      </p>

      <p>
        iMax:Focus består av ulike mentale trenings- og avspenningsprogram. Disse programmene, i kombinasjon med
        fredfull musikkavspenning, er en utmerket måte å øke din mentale styrke på.
      </p>

      <p>
        Version 0.1.1
      </p>

    </div>

    <div class="list">
      <div class="item item-divider">
        <h3>Samarbeidspartnere</h3>
      </div>
      <img id="olympiatoppenLogo" src="img/olympiatoppen_hovedlogo-01.png">

      <div class="collaboratorPhoto" ng-repeat="photos in collaborators">
        <img src="{{photos.img}}">
      </div>
    </div>
  </ion-content>
</ion-view>
