<h3 class="category-heading">Velg program</h3>

<div ng-repeat="sound in sounds">
  <button class="button button-category button-stable"
        ng-class="{ 'selected': sound === selectedSound }"
        ng-click="toggleActiveSound(sound)">
    {{sound.title}}
  </button>
  <div class="padding-bottom" ng-if="sound === selectedSound">
    <a class="button button-category-info icon ion-ios-information" ng-click="toggleProgramInfo();">
      Informasjon om programmet
    </a>
    <div ng-if="showProgramInfo && (sound === selectedSound)">
      <p class="padding">{{sound.description}}</p>
    </div>

    <form novalidate name="form" role="form" ng-submit="addProgram(selected)">
      <div class="input-inline padding-bottom">
        <label>Varighet (antall uker)</label>
        <input ng-maxlength="2" ng-minlength="1" min="1" type="number" ng-model="selected.duration"
            name="Duration" pattern="\d*" required>
        <span ng-style="{ 'color' : (form.Duration.$valid) ? 'green' : 'red' }">
          <i class="icon ion-ios-medical"></i>
        </span>
      </div>
      <div>
        <label>Varsel: På en dag</label>
        <span ng-style="{ 'color' : checkboxSelected(selected.checked) ? 'red' : 'green' }">
          <i class="icon ion-ios-medical"></i>
        </span>
      </div>
      <ul class="datepicker padding">
        <li>
          <label class="day-checkbox-mon">
            <input type="checkbox" ng-model="selected.checked.mon"
              name="Mon" ng-required="checkboxSelected(selected.checked)">
          </label>
        </li>
        <li>
          <label class="day-checkbox-tue">
            <input type="checkbox" ng-model="selected.checked.tue"
              name="Tue" ng-required="checkboxSelected(selected.checked)">
          </label>
        </li>
        <li>
          <label class="day-checkbox-wed">
            <input type="checkbox" ng-model="selected.checked.wed"
            name="Wed" ng-required="checkboxSelected(selected.checked)">
          </label>
        </li>
        <li>
          <label class="day-checkbox-thu">
            <input type="checkbox" ng-model="selected.checked.thu"
            name="Thu" ng-required="checkboxSelected(selected.checked)">
          </label>
        </li>
        <li>
          <label class="day-checkbox-fri">
            <input type="checkbox" ng-model="selected.checked.fri"
            name="Fri" ng-required="checkboxSelected(selected.checked)">
          </label>
        </li>
        <li>
          <label class="day-checkbox-sat">
            <input type="checkbox" ng-model="selected.checked.sat"
            name="Sat" ng-required="checkboxSelected(selected.checked)">
          </label>
        </li>
        <li>
          <label class="day-checkbox-sun">
            <input type="checkbox" ng-model="selected.checked.sun"
            name="Sun" ng-required="checkboxSelected(selected.checked)">
          </label>
        </li>
      </ul>

      <button type="submit" class="button button-royal button-outline button-medium"
        ng-disabled="form.$invalid">
        Legg til program
      </button>
    </form>
  </div>
</div>
