<h3 class="category-heading">Velg program</h3>

<div ng-repeat="sound in sounds">
  <button class="button button-category button-stable"
        ng-class="{ 'selected': sound === selectedSound }"
        ng-click="toggleActiveSound(sound)">
    {{sound.title}}
  </button>
  <div class="padding-bottom" ng-if="sound === selectedSound">
    <a class="button button-category-info icon ion-ios-information" ng-click="toggleProgramInfo();">
      Informasjon om programmet
    </a>
    <div ng-if="showProgramInfo && (sound === selectedSound)">
      <p class="padding">{{sound.description}}</p>
    </div>
    <div class="input-inline padding-bottom">
      <label>Varighet (antall uker)</label>
      <input maxlength="2" min="0" type="number" ng-model="selected.duration"
        pattern="\d*">
    </div>
    <div>
      <label>Varsel: På en dag</label>
    </div>
    <ul class="datepicker padding">
      <li>
        <label class="day-checkbox-mon">
          <input type="checkbox" ng-model="selected.checked.mon">
        </label>
      </li>
      <li>
        <label class="day-checkbox-tue">
          <input type="checkbox" ng-model="selected.checked.tue">
        </label>
      </li>
      <li>
        <label class="day-checkbox-wed">
          <input type="checkbox" ng-model="selected.checked.wed">
        </label>
      </li>
      <li>
        <label class="day-checkbox-thu">
          <input type="checkbox" ng-model="selected.checked.thu">
        </label>
      </li>
      <li>
        <label class="day-checkbox-fri">
          <input type="checkbox" ng-model="selected.checked.fri">
        </label>
      </li>
      <li>
        <label class="day-checkbox-sat">
          <input type="checkbox" ng-model="selected.checked.sat">
        </label>
      </li>
      <li>
        <label class="day-checkbox-sun">
          <input type="checkbox" ng-model="selected.checked.sun">
        </label>
      </li>
    </ul>

    <button class="button button-royal button-outline button-medium" ng-click="addProgram(selected)">
      Legg til program
    </button>

  </div>
</div>
