<ion-modal-view>
  <ion-header-bar class="bar-royal">
    <h3 class="title">Rediger Program</h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideEditProgram()">Lukk</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding" ng-controller="MyTrainingController">
    <div class="padding-bottom text-center">
      <h3 class="big-player-heading padding-top">{{selectedProgram.name}}</h3>
      <div class="input-inline padding-bottom">
        <label>Varighet (antall uker)</label>
        <input maxlength="2" min="0" type="number" ng-model="selectedProgram.duration"
          pattern="\d*">
      </div>
      <div>
        <label>Varsel: På en dag</label>
      </div>
        <ul class="datepicker padding">
          <li>
            <label class="day-checkbox-mon">
              <input type="checkbox" ng-model="selectedProgram.checked.mon">
            </label>
          </li>
          <li>
            <label class="day-checkbox-tue">
              <input type="checkbox" ng-model="selectedProgram.checked.tue">
            </label>
          </li>
          <li>
            <label class="day-checkbox-wed">
              <input type="checkbox" ng-model="selectedProgram.checked.wed">
            </label>
          </li>
          <li>
            <label class="day-checkbox-thu">
              <input type="checkbox" ng-model="selectedProgram.checked.thu">
            </label>
          </li>
          <li>
            <label class="day-checkbox-fri">
              <input type="checkbox" ng-model="selectedProgram.checked.fri">
            </label>
          </li>
          <li>
            <label class="day-checkbox-sat">
              <input type="checkbox" ng-model="selectedProgram.checked.sat">
            </label>
          </li>
          <li>
            <label class="day-checkbox-sun">
              <input type="checkbox" ng-model="selectedProgram.checked.sun">
            </label>
          </li>
        </ul>
      <div class="modal-buttons">
        <a ng-click="cancelEditProgram()"
          class=" button button-outline icon-left ion-close-round button-royal">
          Avbryt
        </a>
        <a ng-click="editProgram()"
          class=" button button-outline icon-left ion-checkmark-round button-royal">
          Lagre
        </a>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
