<ion-modal-view>
  <ion-header-bar class="bar-royal">
    <h3 class="title">Rediger Program</h3>
  </ion-header-bar>
  <ion-content class="padding" ng-controller="MyTrainingController">
    <div class="padding-bottom text-center">
      <h3 class="big-player-heading padding-top">{{selected.name}}</h3>
      <div class="input-inline">
        <label>Hyppighet (ganger per uke)</label>
        <input maxlength="2" min="0" type="number" ng-model="selected.frequency"
          pattern="\d*">
      </div>
      <div class="input-inline padding-bottom">
        <label>Varighet (antall uker)</label>
        <input maxlength="2" min="0" type="number" ng-model="selected.duration"
          pattern="\d*">
      </div>
      <div>
        <label>Varsel: På en dag</label>
      </div>
        <ul class="datepicker padding">
        <li>
          <ion-checkbox class="edit-checkbox" ng-model="selected.checked.mon">
            Mandag
          </ion-checkbox>
        </li>
        <li>
          <ion-checkbox class="edit-checkbox" ng-model="selected.checked.tue">
            Tirsdag
          </ion-checkbox>
        </li>
        <li>
          <ion-checkbox class="edit-checkbox" ng-model="selected.checked.wed">
            Onsdag
          </ion-checkbox>
        </li>
        <li>
          <ion-checkbox class="edit-checkbox" ng-model="selected.checked.thu">
            Torsdag
          </ion-checkbox>
        </li>
        <li>
          <ion-checkbox class="edit-checkbox" ng-model="selected.checked.fri">
            Fredag
          </ion-checkbox>
        </li>
        <li>
          <ion-checkbox class="edit-checkbox" ng-model="selected.checked.sat">
            Lørdag
          </ion-checkbox>
        </li>
        <li>
          <ion-checkbox class="edit-checkbox" ng-model="selected.checked.sun">
            Søndag
          </ion-checkbox>
        </li>
      </ul>
      <div class="modal-buttons">
        <a ng-click="cancelEditProgram()"
          class=" button button-outline icon-left ion-close-round button-royal">
          Avbryt
        </a>
        <a ng-click="editProgram()"
          class=" button button-outline icon-left ion-checkmark-round button-royal">
          Lagre
        </a>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
