<ion-view view-title="Bibliotek" hide-back-button="true">
  <ion-content padding="true" class="tabs-content has-header" ng-class="{'has-footer': $root.mediaPlaying}">
    <ion-list>
      <ion-item ng-repeat="sound in sounds" class="item-chapter item-button-right" ng-click="viewDetails(sound)">
        {{sound.title}}
        <button class="button button-positive" ng-click="setSound({{sound.trackNumber}});play();$event.stopPropagation();">
          <i class="icon ion-ios-play"></i>
        </button>
        <button class="button button-positive button-add" ng-click="addProgram($event, sound)">
          <i class="icon ion-ios-plus"></i>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
