<ion-view view-title="Motivation">
  <ion-content padding="true" class="tabs-content has-header">
    <table id="motivationTable">
      <tr>
        <td>
          <p class="motivationHeading">Helene Olafsen</p>
          <img class="motivationImg" src="img/athletes/heleneO_150x150.jpg">

          <p class="motivationSubText">Snøbrettkjører</p>

          <p class="motivationText">"Å være tilstede mentalt er helt avgjørende for å kunne forbedre de små tingene som
            gir deg motivasjon, som gir deg glede, som gjør deg bedre – som gjør deg best"</p>
        </td>

        <td>
          <p class="motivationHeading">Olaf Tufte</p>
          <img class="motivationImg" src="img/athletes/olaf_tufte.jpg">

          <p class="motivationSubText">Roer</p>

          <p class="motivationText">"Et viktig element i iMax:Focus er å øve seg på å bruke energien på det som kan
            gjøre deg
            bedre. La ikke uvesentligheter og mulige energitappere "sette seg fast i hodet" og forstyrre fokus. Det som
            ikke er viktig skal man kun "Registrere og ikke engasjere" seg i."</p>
        </td>
      </tr>

      <tr>
        <td>
          <p class="motivationHeading">Alexander Dale Oen</p>
          <img class="motivationImg" src="img/athletes/alexander_dale_oen.jpg">

          <p class="motivationSubText">Svømmer</p>

          <p class="motivationText">"iMax:Focus er selve forskjellen mellom et topp løp og et middels løp. Alle mine
            fysiske forberedelser kan være optimale, men det er bortkastet om jeg ikke er tilstede og mentalt fokusert
            på målet og utførelsen."</p>
        </td>

        <td>
          <p class="motivationHeading">Mette Solli</p>
          <img class="motivationImg" src="img/athletes/mette_solli.jpg">

          <p class="motivationSubText">Kickbokser</p>

          <p class="motivationText">"Tilstedeværelse i det du gjør er mer enn bare å være fokusert og konsentrert. Det
            handler om å være tilstede i kroppen og sinnet, få kontroll på pusten. Det handler om å kjenne etter å være
            våken i seg selv for å prestere bedre, håndtere ytre og indre stress, og for å kjenne på de små opplevelsene
            i treningen som bidrar til de store opplevelsene i kamp."</p>
        </td>
      </tr>

      <tr>
        <td>
          <p class="motivationHeading">Suzann Pettersen</p>
          <img class="motivationImg" src="img/athletes/tutta1.jpg">

          <p class="motivationSubText">Golfer</p>

          <p class="motivationText">"iMax:Focus er kritisk god prioritering og å ta de rette valg underveis, for så å ta
            ut dette i konkurransene."</p>
        </td>

        <td>
          <p class="motivationHeading">Fredrik Meek</p>
          <img class="motivationImg" src="img/athletes/fredrik_m_150x150.jpg">

          <p class="motivationSubText">World Skills/Billakkering</p>

          <p class="motivationText">"Mental trening har lært meg en tenkemåte som gjør at jeg takler stress under
            konkurranse. Jeg har mine arbeidsoppgaver mer klart i fokus."</p>
        </td>
      </tr>

      <tr>
        <td>
          <p class="motivationHeading">Anders Nilsen</p>
          <img class="motivationImg" src="img/athletes/andersnilsen_1.jpg">

          <p class="motivationSubText">Fotojournalist / Grunder av Fotografiutdanningen ved Norges Kreative Fagskole</p>

          <p class="motivationText">"Det handler om å rydde opp i hodet, prioritere de viktige tingene i riktig
            rekkefølge, sette seg overkommelige, (eller høye mål) og finne den riktige motivasjonen du trenger for å
            glede deg over det du gjør på jobb eller på trening, noe som igjen skaper bedre resultater."</p>
        </td>

        <td>
          <p class="motivationHeading">Marit Breivik</p>
          <img class="motivationImg" src="/img/athletes/MaritBreivik_NIFS_crop_blackwhite_150x150.jpg">

          <p class="motivationSubText">Hovedcoach Lagspillidretter / Landslagstrener 1994-2009, med 13
            mesterskapsmedaljer (EM, VM, OL)</p>

          <p class="motivationText">"Topp prestasjon handler om å være i "nuet"! Til stede, på trening og i
            konkurranse, her og nå! Nøkkelen til dette? Oppmerksomhetsprogrammene i iMax:Focus gir deg god
            veiledning i å øke tilstedeværelsen din både i hverdagen og på trening!"</p>
        </td>

      <tr>

        <td>
          <p class="motivationHeading">Frank Eirik Abrahamsen</p>
          <img class="motivationImg" src="img/athletes/frank_abrahamsen_150x150.jpg">

          <p class="motivationSubText">Doktorgrad i idrettspsykologi ved Norges Idrettshøgskole, med motivasjon og
            prestasjonsangst i eliteidrett i fokus. </p>

          <p class="motivationText">"Sammenhengen mellom å tenke rett og gjøre rett er ikke 100%, men sammenhengen
            mellom å tenke feil og gjøre feil er mye større" (Bob Rotella). Å lære seg å tenke rett til rett tid – tar
            tid. Mange utøvere sender e-poster og takker for bedre prestasjoner etter at de har øvd på å være til stede,
            med rett fokus til rett tid. iMax:Focus gir deg en "head start"!"</p>
        </td>
        <td>
          <br><br><br><br><br><br><br><br> <!-- TODO: Plassere bilde med CSS i stedet-->
          <img id="motivationLogo" src="img/iMaxLogo.png">
        </td>
      </tr>
    </table>
  </ion-content>
</ion-view>
