<ion-view view-title="Min trening" hide-back-button="true">
  <ion-content padding="true" class="tabs-content has-header">
    <div class="card agenda-card" ng-repeat="exercise in exercises">
      <div class="agenda-item item">
        <a class="agenda-icon-play icon ion-play"></a>
        <p class="agenda-title">{{exercise.name}}</p>
        <div class="agenda-progress">
          <span style="width: {{exercise.played*100/exercise.goal}}%"></span>
        </div>
        <p class="agenda-progress-text">Fullført {{exercise.played}} av {{exercise.goal}} ganger</p>
        <p class="agenda-bottom-text" ng-show="{{exercise.reminder}}">{{exercise.date}}, kl.{{exercise.time}}</p>
        <a class="agenda-icon-bottom-right icon ion-edit" ng-click="showEditProgram(exercise)"></a>
        <a class="agenda-icon-top-right icon ion-close-round" ng-click="confirmDelete(exercise)"></a>
      </div>
    </div>
    <a class="agenda-icon-add icon ion-plus-round" ui-sref="main.mytraining.addprogram"></a>
  </ion-content>
</ion-view>
