<ion-view view-title="Min Trening" hide-back-button="true">
  <ion-content padding="true" class="tabs-content has-header">
    <div class="card agenda-card agenda-card-complete-{{exercise.completed}}" ng-repeat="exercise in exercises">
      <div class="item">
        <p class="agenda-title">{{exercise.name}}</p>
        <p class="agenda-progress-text">Fullført {{exercise.played}} av {{exercise.goal}} ganger</p>
        <p class="agenda-bottom-text" ng-show="{{exercise.completed}}">Du har fullført dette programmet!</p>
        <p class="agenda-bottom-text" ng-show="{{exercise.reminder}}">Neste - {{exercise.date}}, kl.{{exercise.time}}</p>
        <a class="agenda-icon-reminder icon ion-ios-bell" ng-show="{{exercise.reminder}}"></a>
        <a class="agenda-icon-top-right icon" ng-class="{'ion-ios-close' : exercise.completed, 'ion-edit' : !exercise.completed}"></a>
      </div>
    </div>
    <a class="agenda-icon-add icon ion-ios-plus"></a>
  </ion-content>
</ion-view>
