<ion-view view-title="Innstillinger" hide-back-button="true">
  <ion-content padding="true" class="tabs-content has-header" ng-class="{'has-footer': $root.mediaPlaying}">
    <img id="iMaxLogo" src="img/iMaxLogo.png">

    <div class="optionsList">

      <div class="item item-divider">
        <h3>Språk</h3>
      </div>

      <label class="item item-radio">
        <input type="radio" name="language" checked>

        <div class="item-content">
          Norsk
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="language">

        <div class="item-content">
          English
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <br>

      <div class="item item-divider">
        <h3>Informasjon</h3>
      </div>

      <label class="item item-radio" ui-sref="main.options.about">
        <input type="radio" name="information">

        <div class="item-content">
          iMax:Focus
        </div>
      </label>

      <label class="item item-radio" ui-sref="main.options.olympiatoppen">
        <input type="radio" name="information">

        <div class="item-content">
          Olympiatoppen
        </div>
      </label>

      <label class="item item-radio" ui-sref="main.options.copyright">
        <input type="radio" name="information">

        <div class="item-content">
          Copyright
        </div>
      </label>

      <br>

      <div class="video-container">
        <iframe src="http://www.youtube.com/embed/Az_mt-kDna4" frameborder="0" width="560" height="315"></iframe>
      </div>

    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable"
                  ng-class="{ 'bar-subfooter': platform.isIOS() }">
    <h4 class="title">&copy; 2015 iMaxFocus</h4>
  </ion-footer-bar>
</ion-view>
