<ion-view view-title="Innstillinger" hide-back-button="true">
  <ion-content padding="true" class="tabs-content has-header" ng-class="{'has-footer': $root.mediaPlaying}">

    <div class="information-heading">
        <h3>Informasjon</h3>
    </div>
    <ion-list>
      <div class="item item-button-right" ui-sref="main.options.about">
        <div class="item-content">
          iMax:Focus
        </div>
        <div class="buttons">
          <icon class="button-options icon ion-ios-arrow-forward"></icon>
        </div>
      </div>

      <div class="item item-button-right" ui-sref="main.options.olympiatoppen">
        <div class="item-content">
          Olympiatoppen
        </div>
        <div class="buttons">
          <icon class="button-options icon ion-ios-arrow-forward"></icon>
        </div>
      </div>

      <div class="item item-button-right" ui-sref="main.options.copyright">
        <div class="item-content">
          Lisenser
        </div>
        <div class="buttons">
          <icon class="button-options icon ion-ios-arrow-forward"></icon>
        </div>
      </div>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-stable"
                  ng-class="{ 'bar-subfooter': platform.isIOS() }">
    <h4 class="title">&copy; 2015 iMaxFocus</h4>
  </ion-footer-bar>
</ion-view>
