<ion-view view-title="Options">
  <ion-content padding="true" class="tabs-content has-header">
    <ul class="list">
      <li class="item item-toggle">
        ¿Dónde está la biblioteca?
        <label class="toggle toggle-positive">
          <input type="checkbox">

          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        Me llamo T-Bone La araña discoteca.
        <label class="toggle toggle-positive">
          <input type="checkbox">

          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>

    <div class="card">
      <div class="item item-text-wrap">
        Bacon ipsum dolor amet ground round landjaeger fatback ham pork pancetta doner ribeye chuck shoulder. Shank
        pancetta prosciutto turkey short loin, strip steak pork alcatra beef hamburger capicola swine venison turducken.
        Andouille cupim turducken boudin prosciutto. Short ribs swine kielbasa tenderloin. Ham hock cupim porchetta pork
        belly. Pork belly ham hock pancetta alcatra pork brisket rump tail shankle corned beef.
        Version 0.0.2
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable"
                  ng-class="{ 'bar-subfooter': platform.isIOS() }">
    <h2 class="title">&copy; 2015 iMaxFocus</h2>
  </ion-footer-bar>
</ion-view>
