<h3 class="category-heading">Hva vil du trene på?</h3>

<div ng-repeat="category in categories">
  <a id="{{category.id}}"></a>
  <button class="button button-category button-stable"
          ng-class="{ 'selected': category === selectedCategory }"
          ng-click="toggleActiveCategory(category)">
    {{category.title}}
  </button>
  <a class="button button-category-info icon ion-ios-information" ng-click="toggleCategoryInfo();" ng-if="category === selectedCategory">
    Informasjon om kategorien
  </a>
  <div ng-if="showCategoryInfo && (category === selectedCategory)">
    <p class="padding">{{selectedCategory.description}}</p>
  </div>
</div>
