<!-- Fullscreen modal view -->
<style>
  .modal {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
</style>

<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Player</h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="hidePlayer()">Hide</button>
    </div>
  </ion-header-bar>
  <ion-content padding="true" ng-controller="PlayerController">
    <div class="list">
      <div class="item item-thumbnail-left">
        <img src="{{sound.art}}">

        <h2>{{sound.title}}</h2>

        <p>{{sound.description}}</p>
        <a class="button button-icon button-clear ion-ios-rewind"
           ng-click="prev()"></a>
        <a class="button button-icon button-clear ion-ios-play" ng-click="playOrPause()"
           ng-class="isPlaying ? 'ion-ios-pause' : 'ion-ios-play'"></a>
        <a class="button button-icon button-clear ion-ios-fastforward"
           ng-click="next()"></a>
      </div>
      <div class="item">
        <div class="range range-positive">
          <audio-progress></audio-progress>
          <audio-progress-bar></audio-progress-bar>
          <audio-duration></audio-duration>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
