<ion-view view-title="Settings">
  <ion-content padding="true">

    <ul class="list">

    <li class="item item-toggle">
    ¿Dónde está la biblioteca?
      <label class="toggle toggle-positive">
        <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>

    <li class="item item-toggle">
    Me llamo T-Bone La araña discoteca.
      <label class="toggle toggle-positive">
        <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
      </label>
    </li>
    </ul>
  </ion-content>
</ion-view>
