body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.slider {
  height: 100%;
}

.slider-slide {
  padding-top: 80px;
  text-align: center;
}

.slider-pager {
  bottom: 80px;
}

.category-heading {
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 10px;
}

.selected {
  background-color: #cccccc!important;
}

.input-inline label {
  display: inline-block;
  margin-right: 10px;
}

.input-inline input {
  width: 35px;
  border: 1px solid #ccc !important;
  text-align: center;
  display: inline-block;
}

.datepicker li {
  display: inline-block!important;
  width: 150px;
}

.edit-checkbox.item {
  font-size: 14px!important;
  padding: 10px!important;
}

.edit-checkbox.item-checkbox {
  padding-left: 50px!important;
  border: 0 !important;
}
