.input-inline label {
  display: inline-block;
  margin-right: 10px;
}

.input-inline input {
  width: 35px;
  border: 1px solid #ccc !important;
  text-align: center;
  display: inline-block;
}

.modal-buttons {
  position: absolute;
  left: 0;
  right: 0;
  width: 240px;
  margin: auto;
  padding: 20px;
}
