.button-library {
  border: none!important;
  padding: 0px;
  background-color: white;
  margin: 5px;
  float: right!important;
  min-height: 16px!important;
  border: none;
}
.sound-title {
  display: inline-block;
  float: left;
}
.buttons {
  display: inline-block;
}
