.motivationAthlete {
  font-style: italic;
  text-align: center;
  padding-bottom: 40px;
  padding-right: 160px;
}

@media screen and (max-width: 480px) {
  .motivationAthlete{
    padding-left: 44px;
    padding-right: 0px;
    text-align: left;
  }
}

.motivationImg {
  display: block;
  width: 300px;
  margin: auto;
}

.motivationText {
  margin-right: 10px;
  margin-left: 10px;
}

.motivationSubText {
  font-style: italic;
  text-align: center;
  width: 300px;
  margin:0 auto;
}