/* Agenda / My Training specifics */
.agenda-card {
  height: 100px;
  border-radius: 6px;
}

.agenda-item {
  height: 100px!important;
}

.agenda-title {
  font-size: 20px!important;
  position: absolute;
  top: 15px;
  left: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  height: 30px;
}

.agenda-bottom-text {
  position: absolute;
  font-weight: 400;
  left: 70px;
  bottom: 10px;
}

.agenda-progress-text {
  font-size: 10px!important;
  position: absolute;
  top: 35px;
  left: 71px;
}

.agenda-icon-play {
  font-size: 48px;
  color: $royal;
  position: absolute;
  top: 25px;
  left: 20px;
}

.agenda-icon-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: $royal;
}

.agenda-icon-bottom-right {
  position: absolute;
  bottom: 10px!important;
  right: 8px!important;
  font-size: 22px;
  color: $royal;
}

.agenda-icon-add {
  position: absolute;
  left: 50%;
  right: 50%;
  font-size: 22px;
  color: $dark;
  bottom: 0;
}

.agenda-progress {
  position:absolute;
  top:40px;
  left:70px;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 6px;
}

progress[value]::-webkit-progress-bar {
  background-color: #EF7F80;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(left, #6AC5A6, #6AC5A6);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.popup {
  border-radius: 6px!important;
}
