
#iMaxLogo {
  display: block;
  margin: auto;
  max-width: 70%;
  max-height: 100%;
  padding-bottom: 10px;

}
#olympiatoppenLogo {
  display: block;
  margin: auto;
  max-width: 70%;
  max-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.collaboratorPhoto {
  display: inline;
  margin: auto;
}
.item h3 {
  font-size: 18px;
}
.item-content {
  font-size: 12px;
}
